<div [dir]="'dir' | translate">
  <section
    style="position: relative; top: 150px"
    id="features"
    class="features section mb-4"
  >
    <div class="container section-title" data-aos="fade-up">
      <!-- <h2 class="mb-3" style="margin-inline-start: 20px">About Us</h2> -->
    </div>
    <div class="container">
      <div class="row gy-4">
        <div
          class="features-image col-lg-6"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div
            style="overflow: hidden"
            class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <i class="bi bi-archive flex-shrink-0"></i>
            <div
              style="
                border: 2px solid #e81c2a;
                border-radius: 10px;
                padding: 5px;

                font-weight: 500;
                line-height: 2;
                height: 680px;
              "
            >
              <h4>About Us</h4>
              <p>
                With over 30 years of experience, ALSAFA has managed to secure
                its position as one of the market leaders in telecommunication
                networks. Pairing the experience acquired over the years, with
                dedicated and specialized engineers, known to be of the
                bestcaliber, has always been ALSAFA's key to success. ALSAFA has
                also worked on enhancing its internal capabilities by forming
                in-house teams of splicing and air blowing technicians, and
                supplying them with the latest and best-in-class machines in
                order to ensure the efficiency and success of the projects
                delivered. In efforts of ensuring that every aspect of the
                telecommunications networks is covered, ALSAFA has created its
                own factory to manufacture manholes, allowing us to be
                self-sufficient in covering the requirements of our ongoing
                projects
              </p>
            </div>
          </div>
          <!-- End Features Item-->
        </div>
        <div class="col-lg-6">
          <div
            class="features-item d-flex mt-1 ps-0 ps-lg-3"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <i class="bi bi-basket flex-shrink-0"></i>
            <div
              style="
                border: 2px solid #e81c2a;
                border-radius: 10px;
                padding: 5px;
              "
            >
              <h4>Message From CEO</h4>
              <p>
                Dear Valued Clients and Partners, At ALSAFA, we believe that the
                foundation of any successful project is built on trust,
                integrity, and a commitment to excellence. As the CEO, I am
                proud to lead a team of dedicated professionals who share a
                common goal: to deliver outstanding contracting services that
                exceed expectations and contribute to the growth and success of
                our clients.
              </p>
            </div>
          </div>
          <!-- End Features Item-->

          <div
            class="features-item d-flex mt-5 ps-0 ps-lg-3"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <i class="bi bi-broadcast flex-shrink-0"></i>
            <div
              style="
                border: 2px solid #e81c2a;
                border-radius: 10px;
                padding: 5px;
              "
            >
              <h4>Misssion</h4>
              <p>
                At ALSAFA, our mission is to continually deliver sustainable
                telecom networks with superior quality to enable our
                communities' development and ensure convenient accessibility to
                our customers
              </p>
            </div>
          </div>
          <!-- End Features Item-->

          <div
            class="features-item d-flex mt-5 ps-0 ps-lg-3"
            data-aos="fade-up"
            data-aos-delay="500"
          >
            <i class="bi bi-camera-reels flex-shrink-0"></i>
            <div
              style="
                border: 2px solid #e81c2a;
                border-radius: 10px;
                padding: 5px;
              "
            >
              <h4>vission</h4>
              <p>
                To provide state-of-the-art telecommunication networks with
                wide-spread geographic coverage, keeping everyone connected and
                bridging the digital divide
              </p>
            </div>
          </div>
          <!-- End Features Item-->
        </div>
      </div>
    </div>
  </section>
  <!-- =====================our team============================== -->
  <section
    style="position: relative; top: 150px"
    id="team"
    class="team section mt-4"
  >
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2 class="mb-3" style="color: #e81c2a">Our Team</h2>
    </div>
    <!-- End Section Title -->

    <div class="container our-team">
      <div class="row gy-4">
        <div
          class="col-lg-3 col-md-6 col-sm-8 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="assets/team-1.jpg"
                style="height: 313.39px"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mahoud Tarek Zaghloul</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>

        <div
          class="col-lg-3 col-md-6 col-sm-8 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="assets/team-1.jpg"
                style="height: 313.39px"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mahoud Tarek Zaghloul</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>
        <!-- End Team Member -->
        <div
          class="col-lg-3 col-md-6 col-sm-8 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="assets/team-1.jpg"
                style="height: 313.39px"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mahoud Tarek Zaghloul</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>

        <!-- End Team Member -->

        <div
          class="col-lg-3 col-md-6 col-sm-8 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="assets/team-1.jpg"
                style="height: 313.39px"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mahoud Tarek Zaghloul</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>

        <!-- End Team Member -->

        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="assets/team-1.jpg"
                style="height: 313.39px"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mahoud Tarek Zaghloul</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>
        <!-- End Team Member -->
        <div
          class="col-lg-3 col-md-6 col-sm-8 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="assets/team-1.jpg"
                style="height: 313.39px"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mahoud Tarek Zaghloul</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
