<div style="position: relative; top: 150px">
  <h2 style="text-align: center; margin-top: 20px">Partners</h2>
  <p-carousel
    [value]="data"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="4500"
  >
    <ng-template let-partner pTemplate="item">
      <div
        class="border-1 surface-border border-round m-2 text-center py-5 px-3"
      >
        <div class="mb-3">
          <img
            [src]="partner.image[0].asset.url"
            [alt]="'No description available'"
            class="w-6 shadow-2"
            style="width: 250px; height: 260px"
          />
        </div>
        <div>
          <h4 class="mb-1">{{ partner.title }}</h4>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
