.carousel-container {
  position: relative;
}

.carousel-container::before {
  content: "";
  background: color-mix(in srgb, #252525c7, transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.caption-container {
  position: absolute;
  bottom: 0; /* Adjust this value as needed */
  width: 100%;
  text-align: center;
  z-index: 3; /* Higher than the ::before pseudo-element */
}

/* ========start our project========== */
.project-section {
  position: relative;
  top: 150px;
  display: grid;
  place-content: center;
  margin-bottom: 250px;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  /* margin-right: 15%; */
  /* margin-bottom: 1rem; */
  /* margin-left: 15%; */
}

.project-section .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #e81c2a;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /* opacity: 0.5;
  transition: opacity 0.6s ease; */
  position: relative;
  top: 100px;
  border-radius: 50%;
}

.project-section .card {
  width: 16rem;
  margin-inline-start: 15px;
}

.project-section .swiper-slide img {
  opacity: 0.7;
  transition: 0.3s;
  /* filter: grayscale(100); */
  height: 150px;
  display: block;
  width: 256px;
  height: 256.3px;
}
/* =================== at max width 1200px====================== */
@media (max-width: 1200px) {
  .project-section .card {
    width: 14rem;
  }

  .project-section .swiper-slide img {
    width: 224px;
  }
}
/* =================== at max width 800px====================== */
@media (max-width: 800px) {
  .project-section {
    display: grid;
    place-content: center;
  }
  .project-section .card {
    width: 16rem;
    margin-inline-start: 15px;
  }

  .project-section .swiper-slide img {
    width: 256px;
  }
}
/* =================== at max width 600px====================== */

.project-section .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.project-section .swiper-wrapper {
  height: auto;
}
/* ========End our project========== */
/*========== start swiper============= */
/* .flipeffect-swiper {
  width: 200px;
} */
.father-of-swiper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}
.swiper-group {
  display: flex; /* Ensure the children are aligned horizontally */
  justify-content: space-between; /* Adds space between the swipers if desired */
  gap: 2%; /* Adjust the gap between swipers */
}

swiper-slide img {
  width: 200px;
  height: 350px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 1000px) and (max-width: 1200px) {
  swiper-slide img {
    width: 180px;
    height: 350px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  swiper-slide img {
    width: 140px;
    height: 350px;
  }
}
@media (max-width: 700px) {
  .swiper-group {
    display: block;
  }

  .swiper-wrapper {
    width: 200px;
  }
  swiper-container {
    width: 200px;
    height: 290px;
    margin-top: 20px;
    position: relative;
    right: 80px;
  }
  swiper-slide img {
    width: 200px;
    height: 290px;
  }
}
/*========== End swiper============= */
.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #e81c2a;
}

#pn_id_1 > div > div > div > div > div div div.mb-3 > img {
  width: 300px;
  height: 310px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  #pn_id_1 > div > div > div > div > div div div.mb-3 > img {
    width: 250px;
    height: 260px;
    border-radius: 10px;
  }
}
