<!-- ===============start landing section=============== -->
<div class="carousel-caption d-sm-block d-md-block">
  <h3
    style="
      position: relative;
      bottom: 250px;
      font-size: 56px;
      color: white;
      z-index: 9999999;
    "
  >
    ALSAFA ADVANCED SYSTEM
  </h3>
</div>
<div class="carousel-container">
  <carousel>
    <slide style="width: 100%; min-height: 100vh">
      <img
        src="assets/What-is-Fiber-Optic-Construction-Building-Cable-for-Network-Deployment-1024x574.webp"
        alt="first slide"
        style="display: block; width: 100%; height: 100vh; object-fit: cover"
      />
    </slide>
    <slide style="width: 100%; min-height: 100vh">
      <img
        src="assets/constructmanagementbanner.png"
        alt="second slide"
        style="display: block; width: 100%; height: 100vh; object-fit: cover"
      />
    </slide>
    <slide style="width: 100%; min-height: 100vh">
      <img
        src="assets/download.jpeg"
        alt="third slide"
        style="display: block; width: 100%; height: 100vh; object-fit: cover"
      />
    </slide>
  </carousel>
</div>
<!-- ===============End landing section=============== -->
<!-- ============start our projects================ -->
<ng-container *ngIf="showCarousel">
  <h2 style="position: relative; top: 130px; text-align: center">
    Our Projects
  </h2>
  <carousel
    class="project-section"
    [itemsPerSlide]="slidesNumber"
    [singleSlideOffset]="singleSlideOffset"
    [startFromIndex]="6"
    [interval]="3000"
  >
    <slide *ngFor="let slide of slides; let index = index">
      <div class="swiper-slide">
        <div class="card">
          <img [src]="slide.image" alt="image slide" />
          <div class="carousel-caption"></div>
          <div class="card-body">
            <p class="card-text text-center fw-bold">our project</p>
            <button
              type="button"
              class="btn"
              style="
                background-color: #e81c2a;
                color: white;
                display: block;
                margin: auto;
                padding: 10px;
              "
            >
              See The New
            </button>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</ng-container>
<!-- ============End our projects================ -->
