<div class="custom-swiper">
  <div class="description" style="text-align: center">
    <h2 style="color: #e81c2a">Lnfrastrcture</h2>
    <p style="width: 80%; margin: auto">
      At ALSAFA, we specialize in comprehensive infrastructure development,
      delivering robust and sustainable solutions that form the backbone of
      modern societies. Our expertise spans the design, construction, and
      maintenance of essential infrastructure projects, ensuring they meet the
      highest standards of quality, safety, and efficiency.
    </p>
  </div>
  <div class="coverflow-swiper">
    <swiper-container
      effect="coverflow"
      grab-cursor="true"
      centered-slides="true"
      spaceBetween="10"
      slides-per-view="auto"
      coverflow-effect-rotate="30"
      coverflow-effect-stretch="200"
      coverflow-effect-depth="600"
      coverflow-effect-modifier="1"
      coverflow-effect-slide-shadows="true"
      pagination="false"
      autoplay-delay="2500"
      loop="true"
    >
      <swiper-slide
        ><img src="assets/alsafa advanced .jpg" alt=""
      /></swiper-slide>
      <swiper-slide
        ><img src="assets/Fiber-11-17-21.jpg" alt=""
      /></swiper-slide>
      <swiper-slide><img src="assets/team-1.jpg" alt="" /></swiper-slide>
      <swiper-slide
        ><img src="assets/alsafa advanced .jpg" alt=""
      /></swiper-slide>
      <swiper-slide
        ><img src="assets/Fiber-11-17-21.jpg" alt=""
      /></swiper-slide>
      <swiper-slide><img src="assets/team-1.jpg" alt="" /></swiper-slide>
    </swiper-container>
  </div>
</div>
