<h2 style="position: relative; top: 130px; text-align: center">News Page</h2>
<!-- ========================= -->
<div style="position: relative; top: 150px">
  <p-carousel
    [value]="data"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="4500"
  >
    <ng-template let-new pTemplate="item">
      <div
        (click)="openModalWithClass(template)"
        class="border-1 surface-border border-round m-2 text-center py-5 px-3"
      >
        <div class="mb-3">
          <img
            [src]="new.image[0]?.asset?.url"
            [alt]="'No description available'"
            class="w-6 shadow-2"
            style="width: 250px; height: 260px"
          />
        </div>
        <div>
          <h4 class="mb-1">{{ new.title | uppercase }}</h4>
          <button
            type="button"
            class="btn"
            style="
              background-color: #f8303e;
              color: white;
              display: block;
              margin: auto;
              padding: 10px;
            "
          >
            See The New
          </button>
        </div>
      </div>
      <!-- ========start modal================= -->
      <ng-template style="width: 100%" #template>
        <div class="modal-header text-center">
          <h4
            class="modal-title"
            style="width: 9cm; margin: auto; color: #e81c2a"
          >
            {{ new.title | uppercase }}
          </h4>
          <button
            type="button"
            class="close btn-close pull-right"
            aria-label="Close"
            (click)="modalRef?.hide()"
          >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <img
              class="project-image"
              [src]="new.image[0]?.asset?.url"
              alt=""
            />
            <div class="description">
              <p>
                {{ new.description }}
              </p>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- ====================end modal=============== -->
    </ng-template>
  </p-carousel>
</div>
