<ng-container *ngIf="showCarousel">
  <h2 style="position: relative; top: 130px; text-align: center">News Page</h2>
  <carousel
    [itemsPerSlide]="slidesNumber"
    [singleSlideOffset]="singleSlideOffset"
    [startFromIndex]="6"
    [interval]="3000"
  >
    <slide *ngFor="let new of data; let index = index">
      <div class="swiper-slide">
        <div (click)="openModalWithClass(template)" class="card">
          <img [src]="new.image[0]?.asset?.url" alt="image slide" />
          <div class="carousel-caption"></div>
          <div class="card-body">
            <p class="card-text text-center fw-bold">
              {{ new.description.en | uppercase }}
            </p>
            <button
              type="button"
              class="btn"
              style="
                background-color: #e81c2a;
                color: white;
                display: block;
                margin: auto;
                padding: 10px;
              "
            >
              See The New
            </button>

            <!-- ========start modal================= -->
            <ng-template style="width: 100%" #template>
              <div class="modal-header text-center">
                <h4
                  class="modal-title"
                  style="width: 9cm; margin: auto; color: #e81c2a"
                >
                  {{ new.description.en | uppercase }}
                </h4>
                <button
                  type="button"
                  class="close btn-close pull-right"
                  aria-label="Close"
                  (click)="modalRef?.hide()"
                >
                  <span aria-hidden="true" class="visually-hidden"
                    >&times;</span
                  >
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <img
                    class="project-image"
                    [src]="new.image[0]?.asset?.url"
                    alt=""
                  />
                  <div class="description">
                    <p>
                      {{ new.description.en }}
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
            <!-- ====================end modal=============== -->
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</ng-container>
